// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style

.spoiler { 
  color: black; 
  background-color:black;
}
.spoiler:hover{
  color: white;
}

.post-warp .post-content img {
  max-width: 100%;
}

// Gitalk
// .gt-container {
//   .gt-header-textarea {
//       background-color:#161619;
//       color: $dark-post-link-color;
//   }
//   .gt-header-textarea:hover {
//     background-color: #0B0B0C;
//   }
//   .gt-btn-preview {
//       background-color:#161619;
//   }
//   .gt-comment-content {
//       background-color:#161619;
//       color: $dark-post-link-color;
//   }
//   .gt-comment-admin .gt-comment-content {
//     .dark-theme & {
//       background-color:#161619;
//       color: $dark-post-link-color;
//     }
//   }
//   .gt-comment-content:hover {
//     -webkit-box-shadow: 0 0.625em 3.75em 0 #040404;
//     box-shadow: 0 0.625em 3.75em 0 #040404;
//   }
// }
