{{ with .Site.Params.Social.Github }}
<a href="https://github.com/{{.}}" target="_blank" rel="me noopener"><i class="font_family icon-github"></i></a>
{{ end }}
{{ with .Site.Params.Social.LinkedIn }}
<a href="https://linkedin.com/in/{{.}}" target="_blank" rel="me noopener"><i class="font_family icon-linkedin"></i></a>
{{ end }}
{{ with .Site.Params.Social.Email}}
<a href="mailto:{{.}}" rel="me noopener"><i class="font_family icon-mail"></i></a>
{{ end }}
{{ with .Site.Params.Social.QQ}}
<a href="javascript:void(0);" rel="me noopener" onclick="document.getElementById('lightbox').style.display='inline';"><i class="font_family icon-qq"></i></a> 
{{end}}
{{ with .Site.Params.Social.QQGroup}}
<a href="javascript:void(0);" rel="me noopener" onclick="document.getElementById('lightbox').style.display='inline';"><i class="font_family icon-qq1"></i></a> 
{{end}}
{{ with .Site.Params.Social.Wechat}}
<a href="javascript:void(0);" rel="me noopener" onclick="document.getElementById('lightbox').style.display='inline';"><i class="font_family icon-wechat"></i></a> 
{{end}}
{{ with .Site.Params.Social.WechatGroup}}
<a href="javascript:void(0);" rel="me noopener" onclick="document.getElementById('lightbox').style.display='inline';"><i class="font_family icon-wechat1"></i></a> 
{{end}}
{{ with .Site.Params.Social.PublicNumber}}
<a href="javascript:void(0);" rel="me noopener" onclick="document.getElementById('lightbox').style.display='inline';"><i class="font_family icon-wechat2"></i></a> 
{{end}}
{{ with .Site.Params.Social.Twitter }}
<a href="https://twitter.com/{{.}}" target="_blank" rel="me noopener"><i class="font_family icon-twitter"></i></a>
{{ end }}
{{ with .Site.Params.Social.Instagram }}
<a href="https://www.instagram.com/{{.}}/" target="_blank" rel="me noopener"><i class="font_family icon-instagram"></i></a> 
{{ end }} 
{{ with .Site.Params.Social.Facebook}}
<a href="https://facebook.com/{{.}}" target="_blank" rel="me noopener"><i class="font_family icon-facebook"></i></a>
{{ end }}
{{ with .Site.Params.Social.Telegram}}
<a href="https://t.me/{{.}}" target="_blank" rel="me noopener"><i class="font_family icon-telegram"></i></a>
{{ end }}
{{ with .Site.Params.Social.Dribbble}}
<a href="https://dribbble.com/{{.}}" target="_blank" rel="me noopener"><i class="font_family icon-dribbble"></i></a>
{{ end }}
{{ with .Site.Params.Social.Medium}}
<a href="https://medium.com/{{.}}" target="_blank" rel="me noopener"><i class="font_family icon-medium"></i></a>
{{ end }}